
<div class="modal-body row">
    <div class="col-6 text-center">
      <b>Latest Articles</b><br><br>

      
      
      
      <div class="row">
            <div class="col-4">
                    <img src="https://img.etimg.com/thumb/msid-72913081,width-300,imgsize-744031,resizemode-4/oil-thinkstoc.jpg" height="150" width="150"/>
                </div>
                <div class="col-8">
                        <b><u>After onions, cooking oil gets costlier</u></b> <br>
                        <a href="">After onions, cooking oil gets costlier
                        Dec 21, 2019
                        It is expected that the country's dependence on edible oil imports will increase further as heavy rains damaged soybean crops
                        and a lower than expected.</a>
                </div>
      </div>
        <br>

        <div class="row">
            <div class="col-4">
                <img src="https://img.etimg.com/thumb/msid-72909017,width-300,imgsize-416190,resizemode-4/turkey.jpg" height="150" width="150"/>
            </div>
            <div class="col-8">
                <b><u>Northeast's love for Turkeys and the challenges faced by those raising them</u></b> <br>
                <a href="">There are not all that many turkeys in India – 4,23,374 in the census, 
                    compared to 80.78 crore chickens. But this represents a whopping 66.8% increase over 2012, 
                    so clearly more people, particularly in Assam, are raising turkeys. Manipur, 
                    Nagaland and Tripura also have relatively high numbers of turkeys.</a>
            </div>
        </div>
        <br>

        <div class="row"> 
            <div class="col-4">
                    <img src="https://img.etimg.com/thumb/msid-72906298,width-300,imgsize-244320,resizemode-4/rice-agencies.jpg" height="150" width="150"/>
            </div>
            <div class="col-8">
                <b><u>Rice exporters seek amendment in export inspection norms</u></b> <br>
                    <a href="">After onions, cooking oil gets costlier
                    The exporters rue that the consignments were stranded on Indian ports after the notification 
                    issued on November 4 by the Indian Directorate General of Foreign Trade (DGFT) 
                    mandated all shipments headed to Europe as well as CIS countries to get
                        Certificate of Inspection from Export Inspection Council (EIC) fulfilling the EU norms.</a>
            </div>
        </div>

    </div>
    <div class="col-6 text-center">
      <b>Top 5 news</b> <br><br>
            <ul>
                <li>
                <div>
                    <a href="">
                        Govt will ensure J&K farmers get fair value for premium crops: FM
                    </a>
                </div>
                </li>
                <br>
                <li>
                <div>
                    <a href="">
                        India produced a record 33.2 million tons in 2018-19
                        India sugar output may slide to 3-year low after flooding
                    </a>
                </div>
                </li>
                <br>
                <li>
                <div>
                    <a href="">
                            Space crunch in cities? How rooftop farming is becoming more than just a trend
                    </a>
                </div>
                </li>
                <br>
                <li>
                <div>
                    <a href="">    
                        Onion price rise temporary phase, govt boosting supply: Ram Vilas Paswan
                    </a>
                </div>
                </li>
                <br>
                <li>
                <div>
                    <a href="">
                            How India plans to reduce its edible oil import dependency
                    </a>
                </div>
                </li>
        </ul>

    </div>
  </div>