<p><b>User Profile Details</b></p>
<div class="card">
  <div class="card-body">
     <form [formGroup]="userProfileForm" novalidate> 
      <div class="form-group">
          <label class="col-md-4">first name  (पहला नाम)</label>
          <input type="text" class="form-control" formControlName="firstName" #firstName/>
      </div>

      <div class="form-group">
          <label class="col-md-4">last name (उपनाम)</label>
          <input type="text" class="form-control" formControlName="lastName" #lastName/>
      </div>

      <div class="form-group">
          <label class="col-md-4">email id (ईमेल)</label>
          <input type="text" class="form-control" formControlName="emailId" #emailId/>
      </div>

      <div class="form-group">
          <label class="col-md-4">aadhar card (आधार कार्ड)</label>
          <input type="text" class="form-control" formControlName="aadharCard" #aadharCard/>
      </div>

      <div class="form-group">
          <label class="col-md-4">phone number (फ़ोन नंबर)</label>
          <input type="text" class="form-control" formControlName="phoneNumer" #phoneNumer/>
      </div>

      <div class="form-group">
          <label class="col-md-4">user name (लॉगिन नाम)</label>
          <input type="text" class="form-control" formControlName="userName" #userName/>
      </div>

      <div class="form-group">
          <label class="col-md-4">password (पासवर्ड)</label>
          <input type="text" class="form-control" formControlName="password" #password/>
      </div>

      <div class="form-group">
          <button (click)="updateUser(firstName.value,lastName.value,emailId.value,aadharCard.value,phoneNumer.value,
                           userName.value,password.value,userDetail.id)"   class="btn btn-primary">Update</button>
        </div>

    </form> 
  </div>
</div>
<div class="alert alert-success" *ngIf="userMessage">{{ userMessage }}</div>

       